<md-card>
    <h2 class="header">Login</h2>
    <form name="form"
          (ngSubmit)="f.form.valid && login()"
          #f="ngForm"novalidate
          class="loginForm">
      <md-input style="flex: none;" type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required  placeholder="Email"></md-input>
      <md-input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"></md-input>
      <div>
        <button [disabled]="loading" md-raised-button color="accent">Login</button>
        <md-spinner *ngIf="loading" class="app-spinner"></md-spinner>
        <p *ngIf="error" color="warn">{{error}}</p>
      </div>
    </form>
    <div>
      <p>
        If you don't have an account, please register <a [routerLink]="['/register']"> here</a>
      </p>

    </div>
</md-card>
